<p id="notice"><%= notice %></p>

<h1>Party Types</h1>

<table>
  <thead>
    <tr>
      <th>Type description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @party_types.each do |party_type| %>
      <tr>
        <td><%= party_type.type_description %></td>
        <td><%= link_to 'Show', party_type %></td>
        <td><%= link_to 'Edit', edit_party_type_path(party_type) %></td>
        <td><%= link_to 'Destroy', party_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Party Type', new_party_type_path %>
