<%= form_with(model: matter_category, local: true) do |form| %>
  <% if matter_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matter_category.errors.count, "error") %> prohibited this matter_category from being saved:</h2>

      <ul>
      <% matter_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_description %>
    <%= form.text_field :category_description, id: :matter_category_category_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
