<p id="notice"><%= notice %></p>

<h1>Matter Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matter_categories.each do |matter_category| %>
      <tr>
        <td><%= matter_category.category_description %></td>
        <td><%= link_to 'Show', matter_category %></td>
        <td><%= link_to 'Edit', edit_matter_category_path(matter_category) %></td>
        <td><%= link_to 'Destroy', matter_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matter Category', new_matter_category_path %>
