<%= form_with(model: matter_status, local: true) do |form| %>
  <% if matter_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(matter_status.errors.count, "error") %> prohibited this matter_status from being saved:</h2>

      <ul>
      <% matter_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status_description %>
    <%= form.text_field :status_description, id: :matter_status_status_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
