<p id="notice"><%= notice %></p>

<h1>Party Matters</h1>

<table>
  <thead>
    <tr>
      <th>Matter</th>
      <th>Party</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @party_matters.each do |party_matter| %>
      <tr>
        <td><%= party_matter.matter %></td>
        <td><%= party_matter.party %></td>
        <td><%= link_to 'Show', party_matter %></td>
        <td><%= link_to 'Edit', edit_party_matter_path(party_matter) %></td>
        <td><%= link_to 'Destroy', party_matter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Party Matter', new_party_matter_path %>
