<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_number %>
    <%= form.text_field :account_number, id: :account_account_number %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :account_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :account_last_name %>
  </div>

  <div class="field">
    <%= form.label :ssn %>
    <%= form.text_field :ssn, id: :account_ssn %>
  </div>

  <div class="field">
    <%= form.label :account_status_id %>
    <%= form.collection_select :account_status_id, AccountStatus.all, :id, :status_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
